<h2>Gimme your Article</h2>

<form method='POST' action='/articles'>
<label for='articleTitle'>Title</label>
<input type='text' name='articleTitle'/>


<label for='articleBody'>Article body</label>
<input type='text' name='articleBody' />
<input type='submit' value='Make My Article'>
</form> 